ul{
	color:green; padding: 12px;
	 font-style: italic;
	 font-family: arial;	 
		 }
h2{
	 color:red;
 }
h1{
	color:green;
	font-family: arial}
p{
	color: orange}
table{
	border: 2px solid green;
	border-collapse: collapse;
	width: 600px;
	background-color: grey;
	padding: 5px

}
th{
	border: 1px solid orange;
	padding: 5px;
	background-color: red

}
td{
	border: 1px solid orange;
	border-collapse: collapse;
	padding: 5px;
	font-style: italic;
}
caption{
	font-family: cursive;
	font-size: large;
}
a{
	text-decoration: none;
}
a:hover{
	text-decoration: underline;
	background-color: red;
	
	
}
